# Next.js specific
.next/
out/
.vscode/

# node modules
node_modules/

# package-lock.json and yarn.lock
package-lock.json
yarn.lock

# .env files
.env
.env.local
.env.development
.env.test
.env.production

# Editor files
.DS_Store
*.suo
*.ntvs*

# build files
dist/
build/

# other common files
Thumbs.db
*.log
*.tmp
*.bak
*.swp
.github/workflows/deploy.yml
